---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import CommerceList from "../components/CommerceList.astro";
---

<Layout>
	<div class="grid max-w-screen-xl mx-auto">
		<Carousel />
		<CommerceList />
	</div>
</Layout>
